.dashboard-content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.dashboard-content h1 {
    font-size: 3.6rem;
    font-weight: 500;
    font-family: 'Russo One', sans-serif;
}