.select-block label,
.input-block label,
.textarea-block label{
    font-size: 1.4rem;
    color: #9C98A6;
}

.input-block input,
.select-block select,
.textarea-block textarea{
    width: 100%;
    height: 4.8rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: #F8F8FC;
    border: 1px solid #E6E6F0;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;

}

.textarea-block textarea {
    padding: 1.2rem 1.6rem;
    height: 10rem;

    resize: vertical;
}

.input-block,
.textarea-block {
    position: relative;
}

.input-block:focus-within::after,
.textarea-block:focus-within::after{
    content: "";
    
    width: calc(100% - 3.2rem);
    height: 2px;
    background: #916BEA;

    position: absolute;
    left: 1.6rem;
    bottom: 0;
}

label small {
    font-size: 1.2rem;
    padding-left: 1.2rem;
    color: #C1BCCC;
    
}