.page-header {
    height: 5.2rem;

    background: #8c00ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -0.5rem;
    margin-bottom: 0.5rem;
}

.page-header a{  
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    min-width: 10rem;
    height: 3.2rem;

    margin: 1.2rem;

    border-radius: 0.8rem;

    transition: opacity 0.2s;
    color:white;
    background: #7500d4;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
}

.page-header a:hover{
    opacity: 0.6;
}