#page-body #container {
    width: 100vw;
    height: 100vh;

}


main{
    margin: 3.2rem auto;
    width: 90%;
    max-width: 740px;
    color: #6A6180;
}

.teacher-item{
    background-color: #FFFFFF;
    border: 1px solid #E6E6F0;;
    border-radius: 0.8rem;
    margin-top: 2.4rem;
}

.teacher-item header{
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;

}

.teacher-item header img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.teacher-item header div{
    margin-left: 2.4rem;
}

.teacher-item header div strong {
    font: 500 2.4rem 'Russo One';
    display: block;
    color: #32264D;

}

.teacher-item header div span {
    font-size: 1.6rem;
    display: block;
    margin-top: 0.4rem;
    color: #6A6180;
}

.teacher-item > p {
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #6A6180;
}


.teacher-item footer{
    padding:  3.2rem 2rem;
    background-color: #FAFAFC;
    border-top: 1px solid #E6E6F0;
    margin-top: 3.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.teacher-item footer p{
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #9C98A6;
}

.teacher-item footer p strong{
    display: block;
    font-size: 1.6rem;
    color: #8257E5;
    font:500 1.6rem 'Russo One';
}

.teacher-item .button {
    width: 20rem;
    height: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    background-color: #04D361;
    color: #FFFFFF;

    font:500 1.2rem 'Russo One';

    text-decoration: none;
    transition: background 0.2s;
    margin-left: 1.6rem;
}

.teacher-item .button img {
    width: 2rem;
    height: 2rem;
}

.teacher-item button:hover{
    background: #04BF58;
}

#page-body main .no-results{
    max-width: 30rem;
    margin: 12rem auto;
    text-align: center;
}

@media (min-width: 700px){
    #page-body #container {
        max-width: 100vw;

    }

    #page-body main{
        padding: 32px 0;
        max-width: 1000px;
    }


    .teacher-item header,
    .teacher-item footer {
        padding: 32px;
    }

    .teacher-item > p{
        padding: 0 32px;
    }
    
    .teacher-item footer p{
        display: flex;
        align-items: center;
    }

    .teacher-item footer p strong{
        font:500 2.4rem 'Russo One';
        display: initial;
        margin-left: 2rem;
    }

    .teacher-item button {
        width: 245px;
        height: 6rem;
        font-size: 16px;
    }

}