.fundo{
    width: 100%+20px;
    height: 745px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-image: url(./../asset/principal.jpg);
    background-size: 100% 800px;
}

.sub-fundo{
    width: 100%+20px;
    height: 745px;
    margin-top: -8px;
    margin-left: -8px;
    
    background-color: rgba(37, 37, 38, 0.5);
}
.caixa-cadastro{
    position: absolute;
    top: 50px;
    left: 35%;
    width: 25%;
    height: 670px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid white;
}

.caixa-dados{
    width: 78%;
    height: 165px;
    margin-top: 10px;
    margin-left: 7%;
}

.textfield{
    background-color: white;
    width: 80%;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 7%;
    border: 1px solid rgba(168, 168, 168, 0.8);
    text-indent: 10px;
}
.legenda{
    font-size: 20px;
    color: rgba(211,99,71,1);
    font-weight: bold;
}
.botao{
    width: 100px;
    height: 30px;
    margin-left: 35%;
    margin-top: 5px;
    font-size: 15px;
    
    background-color: tomato;
    color: white;
    border: none;
    cursor: pointer;

}
.botao:hover{
    background-color: rgba(211,99,71,1);
    font-weight: bold;
    border: 2px solid white;
}

@media (max-width: 500px) {
    .caixa-dados{
        width: 77%;
        height: 165px;
        margin-top: 10px;
        margin-left: 7%;
    }
    .caixa-cadastro {
        width: 60%;
        left: 20%;
    }
    }