body{
    background-image: url(https://image.freepik.com/fotos-gratis/relogio-despertador-vintage-mostrando-8-o-hora-do-relogio-contra-fundo-bege_23-2147943433.jpg);
    background-size: cover;
    align-items: center;
}
.parametros{
    align-items: center;
    width: 35%;
    height:100px;
    background-color: rgb(0,0,0,0.4); 
    margin-left: 700px;
    margin-top: 200px;
    opacity: 60%;
}
#eventos{
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: rgb(0,0,0,0.0); 
    margin-left: 800px;
    margin-top: 20px;
    opacity: 80%;
    color: black;
}