.caixa_r{
    width: 350px;
    height: 300px;
    margin-top: 120px;
    margin-left: 35%;
    background-color: aliceblue;
    box-shadow: 5px 5px 20px black;
}
body{
    background-color: #7CD6EB;
}

.label_r{
    font-size: 25px;
}

.resultado{
    font-size: 20px;
}

.legenda{
    font-size: 30px;
    background-color: transparent;
}