.add-option{
    display: inline-block;
    font-size: 20px;
    margin-left: 5px;
    color: #003153;
    height: 30px;
    cursor: pointer;
}

.add-input{
    margin-top: 5px;
    margin-left: 9%;
    width: 80%;
    height: 30px;
}


.element{
    display: block;
    margin: 25px auto;
    width: 80%;
    height: 30px;
}
