body{
    font-family: 'Roboto', sans-serif;
}

.login-div{
    margin: auto;
    width: 40%;
    margin-top: 100px;
    padding: 50px 0px;
    background-color: white;
}

.links{
    margin: 10px auto;
    padding: 10px;
    width: 80%;
}

.element{
    display: block;
    margin: 25px auto;
    width: 80%;
    height: 30px;
    outline: none;
}

.new-account{
    float: left;
    text-decoration: none;
    color: #003153;
}

h1{
    text-align: center;
}

button{
    display: block;
    background-color: #003153;
    margin: 60px auto;
    width: 80%;
    color: white;
    border: none;
    border-radius: 3px;
    height: 40px;
}

.message-success, .message-failure{
    margin:auto;
    width: 80%;
    padding: 10px;
    color: white;
    text-align: center;
}

.message-failure{
    background-color: #8b0000;
}

.message-success{
    background-color: darkgreen;
}

.check-div{
    margin-left: 10%;
}

