.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.fundo{
    background-image: linear-gradient(to top, #E5E5E5 , rgb(243,243,243));
}

.textfield{
    background-color: rgb(220, 220, 224);
    border-radius: 6px;
    border-width: 1px;
    
}
.textfield:focus{
    background-color: white;
}
.fonte{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    background-image: linear-gradient(to bottom,#CC6633,#D2794C);
    border-radius: 5px;
    border:none;
    height: 30px;
    cursor: pointer;
    color: white;
}
.button:hover{
    color: black;
}

.caixa{
    background-color: #E5E5E5;
    border-radius: 8px;
    box-shadow: 3px 1px 1px black;
}

.combobox{
    background-color: rgb(220, 220, 224);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.checkbox{
    cursor: pointer;
}
.escolher-arquivo{
    color: black;
    cursor: pointer;
}

.titulo-caixa{
    font-size: 25px;
    
}