

    # {
       
        clear: both;
        float: left;
        margin-top: 30px;
        max-width: 600px;
        background-color: white;
        text-align: left;
    }
    body {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
        background: linear-gradient(white, #D3D8E8);
    }
    

    #topo {
        width: 500%;
        height: 80px;
        background-color: #4c66a4;
        align-items: center;
    }
    #form{
        display: none;
    }
 
    #labell{
        color: #4c66a4;
        font-size: x-large;
    }
    
    .imagem{
        width: 20%;
        height: 50%;
        margin-right: 57%;
        margin-top: 25px;
        position: relative;
    }
    
    #cab {
        width: 980px;
        height: 40px;
    }   
        #cab #imagem {
            width: 200px;
          
            height: 30px;
        }
        
        #campos{
            width: 420px;
            margin: 20px auto;
            text-align: center;
            height: 380px;

        }
        #campos .entrada{
            width: 80%;
            height: 40px;
            font-size: 20px;
            padding-left: 5px;
            margin-right: 2%;
            border-color: snow ;
            border-radius: 5px;
            position: relative;

        }
        #campos #botao{
            width: 82%;
            height: 37px;
            font-size: 20px;
            padding-left: 20px;
            margin-right: 2%;
            border: 1px solid;
            border-radius: 5px;
            background-color: #5b71a0;
            color: white;

             
        }
        #campos a{
            font-size: 11px;
            padding-left: 2%;
            

        }
        #campos #links{
            margin-left: 2%;
            padding-top: 1%;
           

        }




        #campos .baixar{
            width: 74%;
            height: 40px;
            font-size: 12px;
            padding-left: 30px;
            margin-right: 2%;
            border: 1px solid;
            border-radius: 5px;
            color: yellow;
            background-color:#fffbe2 ;
            background-image:url(cel.png);
            background-repeat:no-repeat;  
         
        }

#new {
    width: 60%;
    height: 8%;
    font-size: 14px;
    margin-left: 2%;
    border: 1px solid;
    border-radius: 5px;
     background-color: #578ef5;
     color: white;
 
    }

    #newconta{
        display: none;
    }
       
    #footer1{
        width: 100%; 
        background-color: white;
        height: 220px;
        color: #848484;
        font-size: 12px;
    }
    #footer1 a {
        color: #365899;
        display: inline;
        text-decoration: none;
        font-size: 12px;
    }
    