body{
    font-family: 'Roboto', sans-serif;
    background-image: url(https://1.bp.blogspot.com/-T60EGYHS90k/Ul_gCsVTrCI/AAAAAAAAZSY/Tn6PmuHF7B8/s1600/Clean+Sky+Wallpapers+%25289%2529.jpg);
    overflow: hidden;
}

.temp-div{
    margin: 0px;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 200px;
}

.fundo{
    margin: 5px;
    visibility: hidden;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 2px solid white;
}

.estatisticas{
    float: right;
    margin-right: 5px;
}

.cabecalho{
    text-align: left;
    margin-left: 15px;
}

.dados{
    text-align: left;
}

#pesquisar{
    display: inline-block;
    width: 15%;
    height: 27px;
    background-color: white;
    border-radius: 4px;
    border: none;
    outline: none;
}

#pesquisar:active{
    background-color: gray;
}

#cidade{
    display: inline-block;
    width: 80%;
    height: 25px;
    margin-bottom: 50px;
    font-size: 15px;
    box-sizing: border-box;
    outline: none;
    border:none;
    border-radius: 3px;
}

.temperatura{
    display: inline-block;
    font-size: 80px;
}

h1, h2, h3{
    font-weight: normal;
}

.icone{
    width: 100px;
    background-position: center;
    margin-right: 15px;
}