.carrossel{
    margin: auto;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.banner{
    background-color: black;
}

body{
    padding: 0px;
    margin: 0px;
}


button{
    height: 300px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    outline: none;
}

button:hover{
    color: gray;;
}